@charset "utf-8";
header{
  width: 400px;
  height: 100px;
  color: #f00;
}
.green{
  width: 150px;
  height: 250px;
  color: #00ff1e;
}
.blue{
  width: 250px;
  height: 250px;
  color: #3300ff;
}
footer{
  width: 400px;
  height: 100px;
  color: #ffe600;
}