@charset "utf-8";
header{
  width: 400px;
  height: 100px;
  background: #f00;
}
main{
  width: 400px;
}
.green{
  width: 150px;
  height: 250px;
  background: #00ff1e;
  float: left;
}
.blue{
  width: 250px;
  height: 250px;
  background: #3300ff;
  float: right;
}
footer{
  width: 400px;
  height: 100px;
  background: #ffe600;
}